# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# =========================
# Virtual Environment
# =========================
venv/
.env
.env.*
*.env

# =========================
# Django
# =========================
staticfiles/
media/
assets/

# =========================
# Logs
# =========================
*.log

# =========================
# Celery
# =========================
celerybeat-schedule*
celerybeat.pid

# =========================
# Database / Secrets
# =========================
*.db
*.pgdump

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/

# =========================
# Node (if frontend added later)
# =========================
node_modules/

# =========================
# Test / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/
